- if @teams.nil? 
    %h4 No results found
- else 
    %table
        %thead
            %tr 
            %th
            %th
        %tbody
            - @teams.each do |team| 
                - if team.name != 'TaskDragon'
                    %tr 
                    %td= team.name
                    %td= link_to 'Make this my team', user_path(current_user, :new_team_id => team.id), :method => 'put'
                 